.hero {
  margin: 0px 120px;
  margin-top: 100px;
  padding-bottom: 6.4rem;
}

.hero-text {
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
  line-height: 110px;
}

.hero-dot-play {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
}

.hero-dots {
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
}

.hero-dot {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 7.5px;
  cursor: pointer;
}

.hero-dot.blue {
  background: #4ca1af;
}

.hero-play {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-play p {
  color: #fff;
  font-size: 19px;
}
