.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 120px;
  color: #fff;
}

.nav-logo {
  font-family: "Outfit", sans-serif;
  font-size: 42px;
  font-weight: 500;
  color: #4ca1af;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 90px;
}

.links {
  text-decoration: none;
  color: #fff;
}

.links:hover {
  border-bottom: 2px solid #4ca1af;
}

.contact {
  color: #262626;
}
.nav-contact {
  border-radius: 50px;
  padding: 10px 38px;
  background: #fff;
}

.nav-contact:hover {
  background: #4ca1af;
}

.shop-cart {
  position: relative;
  cursor: pointer;
}

.shopping-icon {
  width: 30px;
  color: #fff;
}

.shop-cart span {
  font-size: 11px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ce1717;
  color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -7px;
}
